<md-sidenav-container [class.m2app-dark]="isDarkTheme">

  <md-toolbar color="primary">
    {{title}}
    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <div class="app-content">

    <div class="container">
      <app-throttle></app-throttle>
      <app-steering [name]="'Steering'" [valueMin]="-5" [valueMax]="5" [valueStep]="1" [valueInitial]="0" [labelStyle]="'left-right'"></app-steering>
      <app-arm></app-arm>
      <!--app-camera></app-camera-->
      <app-gps></app-gps>
    </div>

  </div>

</md-sidenav-container>
